@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900|Roboto:300,400,500,700,900");
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #777; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: rgba(44, 62, 80, 0.9); }

p {
  line-height: 28px; }

a {
  color: #92c457;
  transition: all .2s ease; }
  a:hover {
    color: #92c457; }

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.py-200 {
  padding-top: 200px;
  padding-bottom: 200px; }

.py-300 {
  padding-top: 300px;
  padding-bottom: 300px; }

.my-100 {
  margin-top: 100px;
  margin-bottom: 100px; }

.my-200 {
  margin-top: 200px;
  margin-bottom: 200px; }

.my-300 {
  margin-top: 300px;
  margin-bottom: 300px; }

.form-control, .form-control:disabled, .form-control:read-only {
  background: #eef3f3;
  border: none;
  color: #777;
  padding: 15px 20px; }
  .form-control:disabled, .form-control:disabled:disabled, .form-control:read-only:disabled {
    cursor: not-allowed; }
  .form-control:focus, .form-control:disabled:focus, .form-control:read-only:focus {
    background-color: #eef3f3;
    box-shadow: none;
    -webkit-box-shadow: inset 0px -5px 30px -6px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: inset 0px -5px 30px -6px rgba(0, 0, 0, 0.06);
    box-shadow: inset 0px -5px 30px -6px rgba(0, 0, 0, 0.06); }

.container {
  width: 100%;
  max-width: 1200px; }

.bg-cloud {
  background-color: #fafcfe; }

.btn {
  padding: .5rem 15px !important; }

.btn-green {
  background-color: #92c457;
  color: #fff;
  border-width: 1.5px; }
  .btn-green:focus {
    box-shadow: 0 0 0 0.2rem rgba(133, 179, 79, 0.5); }
  .btn-green:hover {
    color: #fff;
    background-color: #85b34f; }

.btn-green-light {
  background-color: #fff;
  color: #92c457;
  border-width: 1.5px; }
  .btn-green-light:focus {
    box-shadow: 0 0 0 0.2rem rgba(146, 196, 87, 0.5); }
  .btn-green-light:hover {
    color: #fff;
    background-color: #92c457; }
  .btn-green-light.border-green {
    border-color: #92c457; }

.btn-light, .btn-light:hover, .btn-light:focus {
  color: #92c457 !important;
  background-color: #fff !important; }

.btn-white-transparent {
  background-color: transparent;
  border-color: #fff;
  border-width: 1.5px;
  color: #fff; }
  .btn-white-transparent:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }
  .btn-white-transparent:hover {
    border-color: #fff;
    color: #92c457;
    background-color: #fff; }

.top-infobar {
  background-color: #92c457;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400; }
  .top-infobar a {
    color: #fff; }

.info-item {
  display: inline-block;
  margin-right: 8px;
  padding: 5px 0; }
  .info-item.rtl {
    margin-left: 8px;
    margin-right: 0; }
  .info-item.social {
    margin: 0;
    padding: 0; }
  .info-item.social > a {
    display: block;
    width: 30px;
    padding: 5px 0;
    text-align: center; }
    .info-item.social > a:hover {
      background-color: #85b34f; }

.onz-navbar {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1); }
  .onz-navbar .navbar-toggler {
    color: #92c457;
    outline: none; }

.navbar-brand {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 32px; }

.nav-item .nav-link {
  padding: .5rem 15px !important;
  color: #777;
  font-size: 16px; }

.nav-item .nav-link:hover {
  color: rgba(119, 119, 119, 0.8); }

.nav-item.active .nav-link {
  color: #92c457; }

.btn-navbar {
  margin-left: 20px; }
  .btn-navbar .nav-link {
    color: #fff !important;
    background-color: #92c457;
    border-radius: 4px; }
    .btn-navbar .nav-link:hover {
      color: #fff;
      background-color: #85b34f; }

.header-content {
  color: #fff;
  text-align: center; }
  .header-content .title {
    color: #fff;
    font-size: 40px;
    font-weight: 300; }
    .header-content .title strong {
      font-weight: 700; }
  .header-content .container {
    padding: 150px 0;
    max-width: 70%; }
  .header-content p {
    margin: 20px 0; }
  .header-content .action a {
    margin: 15px 10px; }

.content .content-title > h2:after {
  content: '';
  background-image: url("../images/border.png");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: .2;
  display: block;
  width: 250px;
  height: 30px;
  margin: 30px auto 40px auto; }

.text-width {
  max-width: 80%;
  margin: 0 auto; }

.nav-tab a {
  margin: 5px; }

.onz-tab-content {
  max-width: 80%;
  margin: 30px auto; }

.onz-modal {
  display: none;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto; }
  .onz-modal .content {
    position: relative; }
  .onz-modal.show {
    display: block; }

.footer {
  background-color: #2c3e50;
  color: #fff; }

.btn-to-top {
  border-radius: 100%;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 40px;
  padding: 0 !important;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  z-index: 999; }

.login-form {
  width: 30%; }

@media screen and (max-width: 991px) {
  .nav-item .nav-link {
    padding: .5rem 0px !important;
    color: #777;
    font-size: 16px; }
  .btn-navbar {
    margin: 10px 0; }
    .btn-navbar .nav-link {
      padding: .5rem 15px !important; }
  .header-content .container {
    padding: 80px 0;
    max-width: 90%; }
  .info-item {
    font-size: 13px; }
  .top-infobar, .top-infobar .text-right {
    text-align: center !important; }
  .login-form {
    width: 70%; } }

@media screen and (max-width: 768px) {
  .container {
    max-width: 98%; }
  .onz-tab-content {
    max-width: 100%; }
  .login-form {
    width: 100%; } }
