// $merriWeather: 'Merriweather';
// $roboto: 'Roboto';
// $path: '../fonts/';

// @function fontFile($font, $weight, $ext: "ttf") {
//     @return $path + $font + '-' + $weight + '.' + $ext;
// }

// @font-face {
//     src: url(fontFile($merriWeather, 'Regular'));
//     font-family: $merriWeather, serif;
//     font-weight: 400;
// }

// @font-face {
//     src: url(fontFile($merriWeather, 'Light'));
//     font-family: $merriWeather, serif;
//     font-weight: 300;
// }

// @font-face {
//     src: url(fontFile($merriWeather, 'Bold'));
//     font-family: $merriWeather, serif;
//     font-weight: 700;
// }

// @font-face {
//     src: url(fontFile($merriWeather, 'Black'));
//     font-family: $merriWeather, serif;
//     font-weight: 900;
// }


// @font-face {
//     src: url(fontFile($roboto, 'Light'));
//     font-family: $roboto, sans-serif;
//     font-weight: 300;
// }

// @font-face {
//     src: url(fontFile($roboto, 'Regular'));
//     font-family: $roboto, sans-serif;
//     font-weight: 400;
// }

// @font-face {
//     src: url(fontFile($roboto, 'Medium'));
//     font-family: $roboto, sans-serif;
//     font-weight: 500
// }

// @font-face {
//     src: url(fontFile($roboto, 'Bold'));
//     font-family: $roboto, sans-serif;
//     font-weight: 700;
// }

// @font-face {
//     src: url(fontFile($roboto, 'Black'));
//     font-family: $roboto, sans-serif;
//     font-weight: 900;
// }

