$formBackground: #eef3f3;
.form-control, .form-control:disabled, .form-control:read-only {
    background: $formBackground;
    border: none;
    color: $colorGray;
    padding: 15px 20px;
    &:disabled {
        cursor:not-allowed;
    }
    &:focus {
        background-color: $formBackground;
        box-shadow: none;
        -webkit-box-shadow: inset 0px -5px 30px -6px rgba(0,0,0,0.06);
        -moz-box-shadow: inset 0px -5px 30px -6px rgba(0,0,0,0.06);
        box-shadow: inset 0px -5px 30px -6px rgba(0,0,0,0.06);
    }
}