@for $i from 1 through 3 {
    $x: 100*$i;
    $size: 100px * $i;
    .py-#{$x} {
        padding-top: $size;
        padding-bottom: $size;
    }
}

@for $i from 1 through 3 {
    $x: 100*$i;
    $size: 100px * $i;
    .my-#{$x} {
        margin-top: $size;
        margin-bottom: $size;
    }
}