@media screen and (max-width: 991px) {
    .nav-item {
        .nav-link {
            padding: .5rem 0px !important;
            color: $colorGray;
            font-size: 16px;
        }
    }
    .btn-navbar {
        margin: 10px 0;
        .nav-link {
            padding: .5rem 15px !important;
        }
    }
    .header-content {
        .container {
            padding: 80px 0;
            max-width: 90%;
        }
    }
    .info-item {
        font-size: 13px;
    }
    .top-infobar, .top-infobar .text-right {
        text-align: center !important;
    }
    .login-form {
        width: 70%;
    }
}
@media screen and (max-width: 768px) {
    .container {
        max-width: 98%;
    }
    .onz-tab-content {
        max-width: 100%;
    }
    .login-form {
        width: 100%;
    }
}
