@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900|Roboto:300,400,500,700,900');

$fontBody: 'Roboto', sans-serif;
$fontHeading: 'Merriweather', serif;
$colorGreen: #92c457;
$colorGreenDark: #85b34f;
$colorNetral: #fff;
$colorGray: #777;
$colorCloud: #fafcfe;
$headingColor: #2c3e50;
$btnBorderWidth: 1.5px;

@mixin getFont($font, $weight) {
    font-family: $font;
    font-weight: $weight;
}

@mixin btnShadow($shadow,$color, $opacity) {
    box-shadow: $shadow rgba($color,$opacity);
}

@mixin newBtn($bgColor, $bgHoverColor, $color, $hoverColor) {
    background-color: $bgColor;
    color: $color;
    border-width: $btnBorderWidth;

    &:focus {
        @include btnShadow(0 0 0 0.2rem, $bgHoverColor, 0.5);
    }
    &:hover {
        color: $hoverColor;
        background-color: $bgHoverColor;
    }
}

@mixin newBtnTransparent($borderColor, $borderHoverColor, $bgHoverColor, $color, $hoverColor) {
    background-color: transparent;
    border-color: $borderColor;
    border-width: $btnBorderWidth;
    color: $color;

    &:focus {
        @include btnShadow(0 0 0 0.2rem, $bgHoverColor, 0.5);
    }
    &:hover {
        border-color: $borderHoverColor;
        color: $hoverColor;
        background-color: $bgHoverColor;
    }
}

body {
    @include getFont($fontBody, 400);
    font-size: 15px;
    color: $colorGray;
}

h1,h2,h3,h4,h5,h6 {
    @include getFont($fontHeading, 700);
    color: rgba($headingColor, .9);
}

p {
    line-height: 28px;
}

a {
    color: $colorGreen;
    transition: all .2s ease;
    &:hover {
        color: $colorGreen;
    }
}

@import 'paddingmargin';

@import 'form-group';

.container {
    width: 100%;
    max-width: 1200px;
}

.bg-cloud {
    background-color: $colorCloud;
}

.btn {
    padding: .5rem 15px !important;
}
.btn-green {
    @include newBtn($colorGreen, $colorGreenDark, $colorNetral, $colorNetral);
}
.btn-green-light {
    @include newBtn(#fff, $colorGreen, $colorGreen, $colorNetral);
    &.border-green {
        border-color: $colorGreen;
    }
}

.btn-light, .btn-light:hover, .btn-light:focus {
    color: $colorGreen !important;
    background-color: #fff !important;
}

.btn-white-transparent {
    @include newBtnTransparent(#fff, #fff, #fff, #fff, $colorGreen);
}

.top-infobar {
    background-color: $colorGreen;
    color: $colorNetral;
    @include getFont($fontBody, 400);
    a {
        color: $colorNetral;
    }
}
.info-item {
    display: inline-block;
    margin-right: 8px;
    padding: 5px 0;
    &.rtl {
        margin-left: 8px;
        margin-right: 0;
    }
    &.social {
        margin: 0;
        padding: 0;
    }
    &.social>a {
        display: block;
        width: 30px;
        padding: 5px 0;
        text-align: center;
        &:hover {
            background-color: $colorGreenDark;
        }
    }
}

.onz-navbar {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
    .navbar-toggler {
        color: $colorGreen;
        outline: none;
    }
}
.navbar-brand {
    @include getFont($fontHeading, 700);
    font-size: 32px;
}
.nav-item {
    .nav-link {
        padding: .5rem 15px !important;
        color: $colorGray;
        font-size: 16px;
    }
    .nav-link:hover {
        color: rgba($colorGray, .8);
    }
    &.active .nav-link {
        color: $colorGreen;
    }
}
.btn-navbar {
    margin-left: 20px;
    .nav-link {
        color: $colorNetral !important;
        background-color: $colorGreen;
        border-radius: 4px;
        &:hover {
            color: $colorNetral;
            background-color: $colorGreenDark;
        }
    }
}

.header-content {
    color: $colorNetral;
    text-align: center;
    .title {
        color: #fff;
        font-size: 40px;
        font-weight: 300;
        strong {
            font-weight: 700;
        }
    }
    .container {
        padding: 150px 0;
        max-width: 70%;
    }
    p {
        margin: 20px 0;
    }
    .action a {
        margin: 15px 10px;
    }
}

.content {
    .content-title>h2 {
        &:after {
            content: '';
            background-image: url('../images/border.png');
            background-size: 100%;
            background-repeat: no-repeat;
            opacity: .2;
            display: block;
            width: 250px;
            height: 30px;
            margin: 30px auto 40px auto;
        }
    }
}

.text-width {
    max-width: 80%;
    margin: 0 auto;
}
.nav-tab a {
    margin:5px;
}
.onz-tab-content {
    max-width: 80%;
    margin: 30px auto;
}
.onz-modal {
    display:none;
    position: fixed;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    .content {
        position: relative;
    }
    &.show {
        display: block;
    }
}

.footer {
    background-color: $headingColor;
    color: #fff;
}
.btn-to-top {
    border-radius: 100%;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    padding: 0 !important;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    z-index: 999;
}

.login-form {
    width: 30%;
}

@import 'responsive';